---
import { Image } from "astro:assets";
import Shakespeare from "../images/Shakespeare.jpg";
import ComboBox from "../components/Combobox.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <div class="container mx-auto p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="p-4 pt-72">
          <!-- Column 1 content goes here -->
          <h2 class="text-5xl font-serif py-0 mb-[44px] w-96 leading-normal">
            Speak Like Shakespeare
          </h2>
          <ComboBox client:load />
        </div>
        <div class="p-4">
          <Image
            class="rounded-lg mt-24 ml-24"
            src={Shakespeare}
            height="450"
            width="450"
            alt="A bird sitting on a nest of eggs."
          />
        </div>
      </div>
    </div>
  </body>
</html>
