---
import { Image } from "astro:assets";
import Shakespeare from "../images/Shakespeare.jpg";
import ComboBox from "../components/Combobox.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <div class="container mx-auto p-4 sm:p-80 xl:p-4">
      <div
        class="grid grid-cols-1 xl:grid-cols-2 xl:gap-4 border-2 border-yellow-500"
      >
        <div class="p-4 flex justify-center xl:block">
          <Image
            class="rounded-lg sm:mt-80 xl:mt-48 xl:mt-24"
            height="120"
            width="120"
            src={Shakespeare}
            alt="An animated William Shakespeare."
          />
        </div>
        <div class="p-4 xl:pt-72 xl:order-first">
          <!-- Column 1 content goes here -->
          <div class="flex justify-center xl:block">
            <h2
              class="text-3xl xl:text-5xl text-center xl:text-left font-serif py-0 mb-7 xl:mb-[44px] w-48 xl:w-96 leading-normal"
            >
              Speak Like Shakespeare
            </h2>
          </div>
          <div class="xl:w-[504px]">
            <ComboBox client:load />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
