---
import ComboBox from "../components/Combobox.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <div class="grid place-items-center h-screen content-center">
      <ComboBox client:load />
    </div>
  </body>
</html>
