---
// Click button, get confetti!
// Styled by Tailwind :)
---

<button
  class="appearance-none py-2 px-4 bg-gray-300/90 rounded-full font-serif hover:bg-gray-400/90 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-opacity-75"
>
  <slot />
</button>

<script>
  const button = document.body.querySelector("button");

  if (button) {
    button.addEventListener("click", () => {
      window.location.href = "/";
    });
  }
</script>
