<button
  class="appearance-none space-x-2 flex py-2 px-4 bg-gray-100 rounded-full font-serif hover:bg-[#7AA6C440] focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-opacity-75"
>
  <slot />
</button>

<script>
  const button = document.body.querySelector("button");

  if (button) {
    button.addEventListener("click", () => {
      window.location.href = "/";
    });
  }
</script>
