---
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg" href="/Shakespeare.jpg" />
    <title>{content.title}</title>
  </head>
  <body class="font-serif">
    <div class="mx-64 border-2 border-purple-400">
      <div class="text-center my-6">
        <h1 class="h1 text-5xl">{content.title}</h1>
      </div>
      <div class="border-2 border-red-500 text-lg">
        <slot />
      </div>
    </div>
  </body>
</html>
