---
const { content } = Astro.props;
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg" href="/Shakespeare.jpg" />
    <title>{content.title}</title>
  </head>
  <body class="font-serif flex justify-center min-h-screen">
    <div
      class="container lg:mx-auto mx-3 max-w-prose lg:max-w-screen-lg lg:mx-48"
    >
      <div class="mt-6">
        <Button>Home</Button>
      </div>
      <div class="text-center mt-4 mb-4 lg:mb-8">
        <h1 class="h1 lg:text-5xl text-3xl">{content.title}</h1>
      </div>
      <div class="prose text-lg">
        <slot />
      </div>
    </div>
  </body>
</html>

<!-- @todo: handle wide monitor -->

<style>
  .prose {
    max-width: none;
  }
</style>
